<form [formGroup]="preferenceForm">
        <mat-card>
            <mat-card-title>Edit Holiday Preference</mat-card-title>
            <mat-card-subtitle>Edit your favourite preferences</mat-card-subtitle>
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input id="minPriceInput" matInput placeholder="Minimum Price" formControlName="minPrice"
                           type="number">
                    <mat-error id="invalidMinPriceError"
                               *ngIf="preferenceForm.controls['minPrice'].hasError('required')">
                        Minim Price is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input id="maxPriceInput" matInput placeholder="Maximum Price" formControlName="maxPrice"
                           type="number">
                    <mat-error id="invalidMaxPriceError"
                               *ngIf="preferenceForm.controls['maxPrice'].hasError('required')">
                        Maximum Price is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <ul>
                    <li class="grid">
                        <div *ngFor="let website of websitesList"
                             [ngClass]="selectedWebsites.includes(website) ? 'holiday-preferences_websites active' : 'holiday-preferences_websites disabled'"
                             (click)="updateWebsites(website)"
                        >
                            <div class="holiday-preferences_websites_logos">
                                <img class="mt-1" *ngIf="website === 'wakacje.pl'" src="assets/wakacje_logo.jpg"
                                     alt="wakacje logo"/>
                                <img *ngIf="website === 'r.pl'" src="assets/r-logo.png" alt="r logo"/>
                                <img *ngIf="website === 'tui.pl'" src="assets/tui-logo.png" alt="tui logo"/>
                                <img class="mt-1" *ngIf="website === 'itaka.pl'" src="assets/itaka-logo.png"
                                     alt="itaka logo"/>
                            </div>
                        </div>
                    </li>
                </ul>
            </mat-card-content>
            <mat-card-actions class="login-actions">
                <button mat-raised-button id="login" color="primary" [disabled]="preferenceForm.invalid"
                        (click)="updatePreference()">
                    Save
                </button>
                <button mat-raised-button id="back" color="primary" [routerLink]="['/holiday-preferences']">
                    Back
                </button>
            </mat-card-actions>
        </mat-card>
    </form>

