<article class="login-container" fxLayoutAlign="center">
    <form [formGroup]="preferenceForm">
        <mat-card>
            <mat-card-title>Edit Holiday Preference</mat-card-title>
            <mat-card-subtitle>Edit your favourite preferences</mat-card-subtitle>
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input id="minPriceInput" matInput placeholder="Minimum Price" formControlName="minPrice"
                           type="number">
                    <mat-error id="invalidMinPriceError"
                               *ngIf="preferenceForm.controls['minPrice'].hasError('required')">
                        Minim Price is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input id="maxPriceInput" matInput placeholder="Maximum Price" formControlName="maxPrice"
                           type="number">
                    <mat-error id="invalidMaxPriceError"
                               *ngIf="preferenceForm.controls['maxPrice'].hasError('required')">
                        Maximum Price is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select class="w-100" placeholder="Websites" formControlName="websites"
                                [(value)]="selectedWebsites" multiple>
                        <mat-option *ngFor="let website of websitesList" [value]="website.website">
                            {{website.website}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-card *ngFor="let website of websitesList" style="background-color: grey; margin:20px;">
                        {{website.website}}
                    <span (click)="addWebsite(website)">
                        ADD
                    </span>
                </mat-card>
                <pre>
                    {{selectedWebsites | json}}
                </pre>
            </mat-card-content>

            <mat-card-actions class="login-actions">
                <button mat-raised-button id="login" color="primary" [disabled]="preferenceForm.invalid"
                        (click)="updatePreference()">
                    Edit
                </button>
                <button mat-raised-button id="back" color="primary" [routerLink]="['/holiday-preferences']">
                    Back
                </button>
            </mat-card-actions>
            <mat-form-field>
                <mat-select placeholder="Toppings" [formControl]="toppings" [(ngModel)]="selectedToppings" multiple>
                    <mat-option *ngFor="let topp of toppingList" [value]="topp">
                        {{topp.topping}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>
    </form>


</article>
<select multiple type="number" [(ngModel)]="selectedLevel">
    <option *ngFor="let level of levels" [ngValue]="level">
        {{level.name}}
    </option>
</select>
