obj
bin
appsettings.json
*.db
.vs
debug.log
Frontend/node_modules
Frontend/.idea
Frontend/ssl
node_modules
.idea
ssl
WebAPIClient/node_modules
WebAPIClient/.idea
WebAPIClient/.vs
API/wwwroot
wwwroot
Javascript-API/dist
Javascript-API/node_modules
Javascript-API/.idea
