.holiday-preferences-create {
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    background-color: white;
}

.holiday-preferences-create form {
    text-align: left;
    width: 300px;
    margin: 1em;
}

.holiday-preferences-create_create-button {
    margin-top: 2em;
    margin-bottom: 2em;
}
