<article class="holiday-preferences">
    <h4>
        Preferences:
    </h4>
    <ul>
        <li>
            Min Price: {{preferences?.minPrice}}
        </li>
        <li>
            Max Price: {{preferences?.maxPrice}}
        </li>
        <li>
            Websites:
            <ul *ngFor="let website of preferences?.websites">
                <li>
                    {{website.website}}
                </li>
            </ul>
        </li>
    </ul>
    <button mat-raised-button color="primary">
        Edit Preferences
    </button>
</article>
