<article>
    <div class="holiday-offers-list_preferences" *ngIf="!loading">
        <mat-icon mat-list-icon color="primary" class="mt-1" style="color: var(--secondary-color);">
            payments
        </mat-icon>
        Max price:
        <span class="holiday-offers_preferences_details">
                    {{preferences.maxPrice}} zł
                 </span>
        <mat-icon mat-list-icon color="primary" class="mt-1" style="margin-left: 2em; color: var(--secondary-color);">
            language
        </mat-icon>
        Websites: <span class="holiday-offers_preferences_details"
                        *ngFor="let website of preferences.websites">{{website.website}}, </span>
        <button mat-raised-button color="primary" class="edit-preferences_button" (click)="openPreferencesDialog()">
            Edit Preferences
        </button>
    </div>
    <div class="center-wrapper" *ngIf="loading">
        <mat-spinner class="holiday-offers-list_spinner"></mat-spinner>
    </div>
    <mat-form-field color="primary" *ngIf="!loading" fxLayout="row" fxLayoutAlign="end">
        <mat-label>Sorting offers</mat-label>
        <select matNativeControl (change)="onSortSelected($event)">
            <option *ngFor="let sort of sortOptions"
                    [selected]="offersParams.sort === sort.value"
                    [value]="sort.value">
                {{sort.name}}
            </option>
        </select>
    </mat-form-field>
    <ul *ngIf="!loading">
        <li class="grid">
            <a *ngFor="let offer of offers" [href]="offer.url" class="grid" target="_blank">
                <mat-card *ngIf="!loading">
                    <img mat-card-image [src]="offer.imageUrl" alt="Offer Image">
                    <mat-card-header>
                        <img *ngIf="offer.website === 'tui.pl'" alt="Travel logo"
                             class="holiday-offers-list_travel_logo"
                             mat-card-avatar src="../../../assets/tui-logo.png"/>
                        <img *ngIf="offer.website === 'itaka.pl'" alt="Travel logo"
                             class="holiday-offers-list_travel_logo"
                             mat-card-avatar src="../../../assets/itaka-logo.png"/>
                        <img *ngIf="offer.website === 'r.pl'" alt="Rainbow logo"
                             class="holiday-offers-list_travel_logo"
                             mat-card-avatar src="../../../assets/r-logo.png"/>
                        <img *ngIf="offer.website === 'wakacje.pl'" alt="Wakacje logo"
                             class="holiday-offers-list_travel_logo"
                             mat-card-avatar src="../../../assets/wakacje-logo.jpg"/>
                        <mat-card-title>{{offer.title}}</mat-card-title>
                        <mat-card-subtitle>{{offer.country}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="mt-2">
                        <article class="holiday-offers-list_details-wrapper">
                            <div class="holiday-offers-list_details-wrapper_left-content">
                                <mat-icon mat-list-icon style="color: var(--secondary-color);">
                                    today
                                </mat-icon>
                            </div>
                            <div class="holiday-offers-list_details-wrapper_right-content">
                                {{offer.date}}
                            </div>
                        </article>
                        <article class="holiday-offers-list_details-wrapper">
                            <div class="holiday-offers-list_details-wrapper_left-content">
                                <mat-icon mat-list-icon style="color: var(--secondary-color);">
                                    local_dining
                                </mat-icon>
                            </div>
                            <div class="holiday-offers-list_details-wrapper_right-content">
                                {{offer.meal}}
                            </div>
                        </article>
                    </mat-card-content>
                    <mat-card-actions class="mt-2">
                        <h2 class="holiday-offers-list_price">
                            {{offer.price}} zł
                            <span class="holiday-offers-list_price_for_person"> / śr cena za osobe</span>
                        </h2>
                    </mat-card-actions>
                </mat-card>
            </a>
        </li>
    </ul>
</article>


