:host {
    width: 100%;
}


.holiday-offers_grid-container {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 2fr));
}

.holiday-offers_websites_logos img {
    width: 100px;
}

.holiday-offers_websites_logos {
    text-align: center;
}

.holiday-offers-list_preferences {
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: lighter;
}


.holiday-offers_preferences_details {
    color: var(--primary-color);
    font-weight: lighter;
}


.holiday-offers-list_spinner {
    text-align: center;
}

.holiday-offers-list_travel_logo {
    width: 50px;
    height: 50px;
}

.holiday-offers-list_price {
    color: var(--primary-color);
}

.holiday-offers-list_price_for_person {
    color: var(--dark-color);
    font-size: 1em;
    font-weight: lighter;
}

.holiday-offer-list_date {
    float: right;
}

.holiday-offers-list_details-wrapper {
    width: 100%;
    display: inline-block;
    font-size: 1.5em;
    font-weight: lighter;
}

.holiday-offers-list_details-wrapper_left-content {
    float: left;
    width: 20%;
}

.holiday-offers-list_details-wrapper_right-content {
    float: right;
    width: 80%;
    text-align: right;
}

.edit-preferences_button {
    margin-left: 2em;
}

@media (max-width: 600px) {
    .edit-preferences_button {
        margin-left: 0;
        margin-top: 1em;
        width: 100%;
    }
}


