<div>
    <h2 mat-dialog-title>Edit your holiday preference</h2>
    <mat-dialog-content>
        <form [formGroup]="preferenceForm">
            <mat-form-field class="ml-1">
                <input  matInput placeholder="Maximum Price" formControlName="maxPrice"
                       type="number">
                <mat-error id="invalidMaxPriceError"
                           *ngIf="preferenceForm.controls['maxPrice'].hasError('required')">
                    Maximum Price is
                    <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <ul class="mt-1">
                <li class="preferences-websites-grid">
                    <div *ngFor="let website of websitesList"
                         [ngClass]="selectedWebsites.includes(website) ? 'holiday-preferences_websites active' : 'holiday-preferences_websites disabled'"
                         (click)="updateWebsites(website)"
                    >
                        <ul>
                            <li>
                               {{website}}
                            </li>
                        </ul>
                        <div class="holiday-preferences_websites_logos">
                            <img  *ngIf="website === 'wakacje.pl'" src="assets/wakacje-logo.jpg"
                                 alt="wakacje logo"/>
                            <img *ngIf="website === 'r.pl'" src="assets/r-logo.png" alt="r logo"/>
                            <img *ngIf="website === 'tui.pl'" src="assets/tui-logo.png" alt="tui logo"/>
                            <img  *ngIf="website === 'itaka.pl'" src="assets/itaka-logo.png"
                                 alt="itaka logo"/>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="mt-1">
        <button mat-raised-button *ngIf="!isCreateMode" color="primary" (click)="onCloseCancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="onCloseUpdate()">Update</button>
    </mat-dialog-actions>
</div>
