.custom-modalbox .mat-dialog-container {
    background-color: red;
}


.holiday-preferences_websites_logos img {
    width: 200px;
    background-color: green;
}

.holiday-preferences_websites_logos {
    text-align: center;
}

.active {
    border: 2px solid var(--secondary-color);
}

.disabled {
    border: 2px solid #ebeaec;
}

.disabled img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.disabled img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}
