<div>
    <h2 mat-dialog-title>Edit your holiday preference</h2>
    <mat-dialog-content>
        <form [formGroup]="preferenceForm">
            <label>
                Max price - <strong>{{preferenceForm.get('maxPrice').value}} zł</strong>
            </label>
            <mat-slider
                    style="width: 100%; margin-top: 1em"
                    thumbLabel
                    color="primary"
                    min="0"
                    max="5000"
                    step="100"
                    formControlName="maxPrice"
            >
            </mat-slider>


            <ul class="mt-1">
                <li class="preferences-websites-grid">
                    <div *ngFor="let website of websitesList"
                         [ngClass]="selectedWebsites.includes(website) ? 'holiday-preferences_websites active' : 'holiday-preferences_websites disabled'"
                         (click)="updateWebsites(website)"
                    >
                        <div class="holiday-preferences_websites_logos">
                            <img *ngIf="website === 'wakacje.pl'" src="assets/wakacje-logo.jpg"
                                 alt="wakacje logo"/>
                            <img *ngIf="website === 'r.pl'" src="assets/r-logo.png" alt="r logo"/>
                            <img *ngIf="website === 'tui.pl'" src="assets/tui-logo.png" alt="tui logo"/>
                            <img *ngIf="website === 'itaka.pl'" src="assets/itaka-logo.png"
                                 alt="itaka logo"/>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions class="mt-1">
        <button mat-raised-button *ngIf="!isCreateMode" color="primary" (click)="onCloseCancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="onCloseUpdate()">Update</button>
    </mat-dialog-actions>
</div>
