@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.custom-modalbox .mat-dialog-container {
    width: 95vw !important;
    height: 95vh !important;
}


:root {
    --primary-color: #3f51b5;
    --secondary-color: #ffaa00;
    --success-color: #4dbd74;
    --danger-color: #f86c6b;
    --warning-color: #ffc107;
    --info-color: #63c2de;
    --light-color: #f0f3f5;
    --dark-color: #2f353a;
}

a {
    text-decoration: none;
}

.w-100 {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1.5rem;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(90vh);
}


.full-width {
    width: 100%;
}

.spinner {
    left: 49%;
    position: fixed !important;
    top: 15%;
    z-index: 9999;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.login-container {
    height: 80vh;
}

.login-actions {
    margin-left: unset !important;
}

.container {
    padding: 20px;
}
